@import url(variables.css);

.lista-clientes {
    position: relative;
}

.header-titulo {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 16px;
}

.contenedor-tabla {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--borde);
}

.titulo {
    font-weight: 600;
}

.acciones {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.btn-opciones {
    border-radius: 8px;
    color: var(--texto);
    background: var(--fondo) !important;
    border: 1px solid var(--borde);
    background: none;
    padding: 10px 16px;
}

.header-tabla {
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.fila-titulo {
    display: flex;
    width: 1058px;
    height: 64px;
    padding: 0px 24px;
    align-items: center;
    gap: 16px;
}

.fila {
    display: flex;
    width: 1058px;
    height: 64px;
    padding: 0px 24px;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--fondo-contenido);
    background: var(--fondo);
}

th {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

.paginacion {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--fondo-contenido);
    background: var(--fondo);
}
