@import url(variables.css); /* Importa las variables de colores */

/* ------------- Generales ------------- */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
/* ------------- Generales ------------- */

/* ------------- Contenido ------------- */
.contenido {
    margin-left: 260px;
    width: calc(100% - 260px);
    height: calc(100vh - 80px);
}
iframe {
    width: 100%;
    height: 100%;
    padding: 24px 32px;
}

.card {
    cursor: pointer;
    background: var(--fondo);
    color: var(--texto);
    border: 1px solid var(--borde);
    border-radius: 8px;
}
.card:hover {
    border: 1px solid var(--hover-borde);
}
.card-header {
    background: var(--fondo);
    color: var(--color-primario);
    border-bottom: 1px solid var(--borde);
}

/* ------------- Contenido ------------- */

/* ------------- Navegadores ------------- */
.n-superior {
    height: 80px;
    border-bottom: 1px solid var(--borde);
    background: var(--fondo);
}
.n-izquierda {
    background: var(--fondo);
    float: left;
    width: 260px;
    height: calc(100vh - 80px);
    border-right: 1px solid var(--borde);
    padding: 32px 24px;
}
.n-izquierda .row {
    height: 100%;
}
.hr {
    border-top: 1px solid var(--borde);
}
/* ------------- Navegadores ------------- */

/* ------------- inputs ------------- */
.input-group {
    border: solid 1px var(--borde);
    border-radius: 8px;
    overflow: hidden;
}
.input-group:hover {
    border: solid 1px var(--hover-borde);
}
.input-group:focus-within {
    border: 1px solid var(--color-primario);
}
.input-group input {
    border-radius: 8px !important;
    background-color: var(--fondo);
    color: var(--texto);
}
.input-group input::placeholder {
    color: var(--placeholder);
}
.input-group input,
.input-group button,
.input-group span {
    color: var(--texto) !important;
    padding: 10px 16px;
    border: none;
    background: transparent;
}
.input-group input {
    --bs-focus-ring-color: transparent;
}
.input-group input:focus {
    color: black !important;
    background: var(--fondo);
    color: var(--texto) !important;
}
.offcanvas-body input,
.offcanvas-body select,
.offcanvas-body textarea {
    background: var(--fondo);
    color: var(--texto);
    border-radius: 8px;
    border: 1px solid var(--borde);
    font-size: 14px;
    padding: 12px;
    --bs-focus-ring-color: transparent;
}
.offcanvas-body input::placeholder,
.offcanvas-body select::placeholder,
.offcanvas-body textarea::placeholder {
    color: var(--placeholder);
}
.offcanvas-body input:hover,
.offcanvas-body select:hover,
.offcanvas-body textarea:hover {
    border: 1px solid var(--hover-borde);
}
.offcanvas-body input:focus,
.offcanvas-body select:focus,
.offcanvas-body textarea:focus {
    background: var(--fondo);
    color: var(--texto);
    border: 1px solid var(--color-primario);
}
.offcanvas-body input:disabled,
.offcanvas-body select:disabled,
.offcanvas-body textarea:disabled {
    background: var(--fondo-contenido);
}
.offcanvas-body label {
    font-size: 14px;
    color: var(--texto);
}
.offcanvas-body .input-group {
    background: var(--fondo);
    border-radius: 8px;
    border: 1px solid var(--borde);
    overflow: hidden;
}
.offcanvas-body .input-group:has(input:disabled) {
    background: var(--fondo-contenido);
}
.offcanvas-body .input-group:hover {
    border: 1px solid var(--hover-borde);
}
.offcanvas-body .input-group:focus-within {
    border: 1px solid var(--color-primario);
}
.offcanvas-body .input-group input {
    background: transparent;
    border-radius: 0 !important;
    border: none;
}
.offcanvas-body .input-group-text {
    border: none;
    background: transparent;
    color: var(--placeholder);
}
/* ------------- inputs ------------- */

/* ------------- Botones ------------- */
.n-izquierda i {
    margin-right: 16px;
}
.n-izquierda li {
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 8px;
    color: var(--color-primario);
    transition: background-color 0.2s ease;
}
.n-izquierda li:hover {
    background: var(--color-secundario);
    color: var(--color-primario) !important;
    cursor: pointer;
}
.activo {
    background: var(--color-primario);
    color: var(--texto-primario) !important;
}
.bell {
    position: relative;
    background: var(--color-secundario);
    color: var(--color-primario);
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border: none;
}
.bell:hover {
    background: var(--hover-color-s);
    color: var(--texto-secundario);
}
.bell:active {
    background: var(--color-secundario) !important;
    color: var(--texto-secundario) !important;
}
.pedido {
    background: var(--color-primario);
    color: var(--texto-primario);
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
}
.pedido:hover {
    background: var(--hover-color-p);
    color: var(--texto-primario);
}
.pedido:active {
    background: var(--color-primario) !important;
    color: var(--texto-primario) !important;
}
.pedido:disabled {
    background: var(--fondo-contenido) !important;
    color: var(--texto) !important;
    border: 1px solid var(--hover-borde);
}
.search {
    background: var(--fondo);
    color: var(--texto);
    height: 48px;
}
.search:hover {
    background: var(--fondo);
    border-color: var(--hover-borde);
}
.add {
    width: 48px;
    background: var(--color-secundario);
    color: var(--color-primario);
    border-radius: 8px;
    border: none;
}
.add:hover {
    background: var(--hover-color-s);
    color: var(--color-primario);
}
.add:active {
    background: var(--color-secundario) !important;
    color: var(--color-primario) !important;
}
.add:disabled {
    color: var(--texto);
    border: 1px solid var(--hover-borde);
}
.del {
    width: 48px;
    border-radius: 8px;
    border: none;
}
.del:hover {
    transform: scale(1.05);
    color: var(--texto-secundario);
}
.input-group button:hover {
    color: var(--color-primario) !important;
}
.input-group button:active {
    background: var(--color-primario) !important;
    color: white !important;
}
.n-izquierda .btn {
    text-align: left;
    padding: 8px 0px !important;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
    width: 100%;
    color: var(--texto);
}
.n-izquierda .btn i {
    color: var(--color-primario);
}
.n-izquierda .btn:hover {
    background: var(--color-secundario);
    color: var(--color-primario) !important;
}
.n-izquierda .btn:active {
    background: var(--color-secundario);
    color: var(--texto-secundario) !important;
}
.offcanvas-header button {
    color: #9098aa;
    font-size: 20px;
    border: none;
    background: transparent;
}
.offcanvas-header .edit {
    color: var(--color-primario);
}
.offcanvas-header .edit:hover {
    color: var(--hover-color-p);
}
.offcanvas-header .edit:active {
    color: var(--color-primario);
}
.offcanvas-header .edit:disabled {
    color: #9098aa;
}
.offcanvas-body .bell {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 8px 20px;
}
.offcanvas-body .pedido {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 8px 20px;
}
/* ------------- Botones ------------- */

/* ------------- Menu lateral ------------- */
.offcanvas {
    background: var(--fondo-contenido);
    color: var(--texto);
}
.form-pedido {
    width: 690px !important;
}
.offcanvas-header {
    padding: 20px 24px;
    border-bottom: 1px solid var(--borde);
    color: var(--color-primario);
}
.offcanvas-header p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
.offcanvas-body {
    padding: 32px 24px;
}
.offcanvas-body .row,
.offcanvas-body table,
.offcanvas-body p {
    margin-bottom: 32px;
}
.offcanvas-body table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
}
.offcanvas-body td {
    min-width: 80px;
    background: var(--fondo);
    padding: 4px 8px;
    color: var(--texto);
}
.offcanvas-body tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 24px;
}

.offcanvas-body tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 24px;
}
/* ------------- Menu lateral ------------- */

/* ------------- Registrar Cliente ------------- */
.form-registrar {
    width: 690px !important;
}
