@import url(variables.css);

.resumen .col {
    background-color: var(--fondo);
    padding: 24px;
    border-radius: 10px;
}
.resumen .icon {
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    background: var(--color-secundario);
    color: var(--color-primario);
}
.resumen p {
    font-size: 14px;
    margin-bottom: 16px;
}
.resumen .n-estadistica {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-primario);
}
.resumen small {
    font-size: 16px;
}
