/* ------------- Variables ------------- */
:root {
    --titulo: 2.5rem;
    --texto: 1.25rem;
    --medio: 1.1rem;
}

/* ------------- Generales ------------- */
* {
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #dd5746 transparent;
}
html,
body {
    background: #ffe1c0;
    scroll-behavior: smooth;
}
.btn {
    background: #dd5746;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
}
.btn:hover {
    background: #ff6f50;
    color: white;
}
.btn:active {
    background: #dd5746 !important;
    color: white !important;
    border-color: #dd5746 !important;
}
.btn-border {
    background: transparent;
    border: solid 1px #dd5746;
    color: #dd5746;
}
.col {
    align-content: center;
}

/* ------------- Botones fixed ------------- */
.contacto {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}
.inicio {
    opacity: 0;
    width: max-content;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    transition: opacity 0.5s;
}
.contacto button,
.inicio button {
    font-size: var(--medio);
    width: calc(var(--medio) + 32px) !important;
    height: calc(var(--medio) + 32px) !important;
}

/* ------------- Navegador ------------- */
nav {
    height: 64px;
    border-bottom: 1px solid #deb8b4;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
}
nav a {
    text-decoration: none;
    color: #dd5746;
    font-size: var(--medio);
    font-weight: 700;
}
nav a:hover {
    color: #ff6f50;
}

/* ------------- Area de contacto ------------- */
.offcanvas {
    width: 594px !important;
    padding: 24px 32px !important;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: -16px 0px 40px 0px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(50px);
}
.offcanvas h2 {
    color: #dd5746;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.offcanvas a {
    text-decoration: none;
    color: #dd5746;
    font-size: var(--texto);
}
.offcanvas p {
    color: #dd5746;
    font-size: var(--texto);
    margin-bottom: 48px;
}
.offcanvas i {
    cursor: pointer;
    color: #dd5746;
    font-size: 24px;
}
.offcanvas .btn,
.offcanvas .btn:hover,
.offcanvas .btn:active {
    padding: 0px;
    background: transparent !important;
    border: none !important;
}

/* ------------- Presentación ------------- */
.fondo-inicio {
    background: #fbecdc;
}
.header {
    padding: 32px;
}
.img-header {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.img-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.row-header {
    padding: 80px 32px;
}
.row-header h1 {
    font-size: var(--titulo);
    font-weight: 900;
    color: #dd5746;
    margin: 0px;
}
.row-header p {
    font-size: var(--texto);
    color: #dd5746;
    font-weight: 400;
    margin: 0px;
}

/* ------------- Divisor diagonal ------------- */
.triangulo {
    width: 100%;
    height: 85px;
    background: linear-gradient(to right bottom, #fbecdc 50%, #ffe1c0 50%);
}

/* ------------- Nosotros ------------- */
.nosotros {
    padding: 120px 64px !important;
}
.row-nosotros {
    margin-bottom: 64px;
}
.row-nosotros h1 {
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
}
.row-nosotros p {
    color: #dd5746;
    font-size: var(--texto);
    font-weight: 400;
}
.row-n-bloques .col {
    background: #ffe8cf;
    padding: 48px;
    border-radius: 15px;
}
.row-n-bloques h2 {
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
}
.row-n-bloques p {
    color: #dd5746;
    font-size: var(--texto);
    margin-top: 16px;
}

/* ------------- Imagen alusiva ------------- */
.estatico {
    padding: 160px 0px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;
}
.estatico .text-center {
    width: 80%;
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
}
.frame {
    width: 100%;
    padding: 64px;
    margin-bottom: 100vh;
    position: relative;
    z-index: 2;
}
.frame img {
    width: 100%;
    height: 100%;
}

/* ------------- Divisor diagonal ------------- */
.triangulo2 {
    width: 100%;
    height: 85px;
    background: linear-gradient(to right bottom, #00000000 50%, #fcd8da 50%);
    position: relative;
    z-index: 2;
}

/* ------------- Valores ------------- */
.valores {
    padding: 120px 64px;
    background: #fcd8da;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    cursor: grab;
}
.valores h1 {
    position: sticky;
    left: 0px;
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
    margin-bottom: 64px;
}
.valores .row {
    width: 2200px !important;
    flex-wrap: nowrap;
}
.valores .col {
    align-content: start;
    text-align: center;
    background: #ffe4e5;
    padding: 100px 48px 32px 48px !important;
    border-radius: 15px !important;
}
.valores .bi {
    font-size: 3rem;
    color: #dd5746;
}
.valores h2 {
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.valores p {
    color: #dd5746;
    font-size: var(--texto);
}

/* ------------- Divisor diagonal ------------- */
.triangulo3 {
    width: 100%;
    height: 85px;
    background: linear-gradient(to right bottom, #fcd8da 50%, #e4e7ec 50%);
    position: relative;
    z-index: 2;
}

/* ------------- Servicios ------------- */
.servicios {
    background: #e4e7ec !important;
    padding: 100px 64px 180px 64px !important;
    position: relative;
    z-index: 2;
}
.servicios h1 {
    color: #dd5746;
    font-size: var(--titulo);
    font-weight: 900;
    margin-bottom: 32px;
}
.servicios p {
    color: #dd5746;
    font-size: var(--texto);
    margin-bottom: 64px;
}
.servicios .col {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px 32px;
    border-radius: 15px;
}
.servicios h2 {
    color: #dd5746;
    font-weight: bold;
    font-size: var(--titulo);
    margin-bottom: 32px;
}
.servicios img {
    width: 100px;
}

/* ------------- Marquee ------------- */
.marquee {
    overflow: hidden;
    color: #dd5746;
    font-size: 120px;
    font-weight: 800;
    position: relative;
    z-index: 2;
}
.marquee div {
    width: max-content;
}
.marquee > :nth-child(1) {
    background: #fcd8da;
    animation: marquee 10s linear infinite;
}
.marquee > :nth-child(2) {
    background: #ffe1c0;
    animation: marquee 10s linear reverse infinite;
}
.marquee > :nth-child(3) {
    background: #e4e7ec;
    animation: marquee 10s linear infinite;
}

/* ------------- footer ------------- */
.contacto-info {
    background: #f7f2de;
    padding: 32px 64px;
    position: relative;
    z-index: 2;
}
.contacto-info p {
    color: #dd5746;
    font-size: 14px;
}
.contacto-info i {
    cursor: pointer;
    color: #dd5746;
    font-size: 32px;
}
.contacto-info a {
    text-decoration: none;
    color: #dd5746;
}
.copy {
    margin-top: 32px;
    border-top: #deb8b4 1px solid !important;
}
.copy p {
    margin-top: 16px;
}

/* ------------- Animaciones ------------- */
@keyframes marquee {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50.4%, 0);
    }
}

/* ------------- Para pantallas de 991px ------------- */
@media screen and (max-width: 991px) {
    :root {
        --titulo: 1.6rem;
        --texto: 1.1rem;
        --medio: 1rem;
    }

    .contacto {
        display: block;
    }
    .inicio {
        bottom: 64px;
    }

    nav {
        top: -56px !important;
        height: max-content;
        padding-top: 16px;
        text-align: center;
    }
    nav .row {
        gap: 16px;
    }
    .btn-contacto {
        display: none;
    }
    .img-header {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

/* ------------- Para pantallas de 768px ------------- */
@media screen and (max-width: 768px) {
    .offcanvas {
        padding: 16px !important;
    }
    .offcanvas-body {
        align-content: center;
    }
    .offcanvas h2 {
        margin-bottom: 16px;
    }
    .offcanvas p {
        margin-bottom: 32px;
    }

    .valores .row {
        width: auto !important;
        flex-wrap: wrap;
    }

    .row-header {
        padding: 64px 0px;
    }

    .nosotros,
    .valores,
    .servicios {
        padding: 64px 32px !important;
    }

    .frame {
        padding: 16px;
    }

    .valores h1 {
        margin-bottom: 40px;
    }

    .contacto-info {
        padding: 32px 32px;
    }

    .marquee {
        font-size: 60px;
    }
}
