/* ------------- Login ------------- */
@import url(variables.css);

html,
body {
    background: var(--fondo-contenido);
    scrollbar-width: none;
}

.row {
    width: max-content;
    height: 100vh;
    overflow: hidden;
}
.col {
    width: 50vw;
    max-height: 100vh;
    align-content: center;
}
.container {
    padding: 128px;
}

.svg-icon,
.input,
p {
    margin-bottom: 32px;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transition: opacity 0.5s;
}
#img {
    position: relative;
    bottom: 100vh;
}

.text-center i {
    color: var(--color-primario);
    font-size: 4rem;
}
h3 {
    color: var(--color-primario);
    margin-bottom: 32px;
}

input {
    background: var(--fondo) !important;
    color: var(--texto) !important;
    padding: 12px 24px !important;
    border-radius: 8px !important;
    border: 1px solid var(--borde) !important;
    --bs-focus-ring-color: transparent;
}
input:hover {
    border-color: var(--hover-borde) !important;
}
input:focus {
    border-color: var(--color-primario) !important;
}
input::placeholder {
    color: var(--placeholder) !important;
}
input:disabled {
    background: var(--fondo-contenido) !important;
    color: var(--placeholder) !important;
}
.input-group {
    overflow: hidden;
    background: var(--fondo) !important;
    border-radius: 8px !important;
    border: 1px solid var(--borde) !important;
}
.input-group:hover {
    border-color: var(--hover-borde) !important;
}
.input-group:focus-within {
    border-color: var(--color-primario) !important;
}
.input-group:has(input:disabled) {
    background: var(--fondo-contenido) !important;
    color: var(--placeholder) !important;
}
.input-group input {
    border-radius: 0 !important;
    border: none !important;
    background: transparent !important;
}

.btn {
    border: none;
    background: var(--color-primario);
    color: white;
    padding: 12px;
}
.btn:hover {
    background: var(--color-primario);
    color: white;
}
.btn:active {
    background: var(--color-primario) !important;
    color: white !important;
}
.btn:disabled {
    background: var(--color-primario);
    color: white;
    cursor: not-allowed;
}
.view {
    background: transparent;
    color: var(--texto);
}
.view:hover {
    background: transparent;
    color: var(--color-primario);
    transform: scale(1.1);
}
.view:active {
    background: transparent !important;
    color: var(--color-primario) !important;
    transform: scale(1);
}
.view:disabled {
    background: transparent;
    color: var(--placeholder);
}
.secondary {
    background: transparent;
    color: var(--color-primario);
}
.secondary:hover {
    background: transparent;
    color: var(--color-primario);
    text-decoration: underline;
}
.secondary:active {
    background: transparent !important;
    color: var(--color-primario) !important;
}

footer {
    backdrop-filter: blur(10px);
    border-radius: 8px;
    margin: 26px;
    padding: 6px 12px;
    position: fixed;
    bottom: 0;
    color: var(--texto);
    transition: all 0.5s;
}

nav {
    margin: 32px;
    position: fixed;
    top: 0;
    z-index: 2;
}

@media screen and (max-width: 1366px) {
    .container {
        padding: 86px;
    }
    .text-center i {
        font-size: 2rem;
    }
}
