/* ------------- Login ------------- */
@import url(variables.css);

.vista {
    width: 100%;
    overflow: hidden;
}
.main {
    width: 150vw;
    height: 100vh;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.main .col {
    width: 50vw;
}
.form {
    padding: 64px;
}
nav {
    width: 100%;
    margin-bottom: 64px;
}
.titulo-m {
    margin-bottom: 24px;
}
.subtitulo-m {
    margin-bottom: 40px;
}
.input {
    margin-bottom: 48px;
}
.input-r {
    margin-bottom: 38px;
}
.container {
    width: 85%;
    margin-bottom: 64px;
}
.img {
    position: relative;
    padding: 24px;
}
.img img {
    width: calc(100% - 24px);
    height: calc(100% - 48px);
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    left: 24px;
    transition: opacity 0.6s ease;
}
a {
    color: var(--texto);
    text-decoration: none;
}
a:hover {
    color: var(--color-primario);
    text-decoration: underline;
}
input,
select {
    background: var(--fondo) !important;
    color: var(--texto) !important;
    border: solid 1px var(--borde) !important;
    --bs-focus-ring-color: transparent;
}
input::placeholder,
select::placeholder {
    color: var(--placeholder) !important;
}
input[type="file"]::-webkit-file-upload-button {
    display: none;
}
input:hover,
select:hover,
.mostrar:hover {
    border-color: var(--hover-borde) !important;
}
input:focus,
select:focus {
    border-color: var(--color-primario) !important;
}
.mostrar svg {
    fill: var(--texto) !important;
}
.mostrar:hover svg {
    fill: var(--color-primario) !important;
    transform: scale(1.2);
}
.mostrar:active {
    color: var(--color-primario) !important;
    border-color: var(--color-primario) !important;
}
.iniciar {
    background: var(--color-primario) !important;
    color: var(--texto-primario) !important;
    border: none;
}
.iniciar:hover {
    background: var(--hover-color-p);
    color: var(--texto-primario);
}
.iniciar:active {
    background: var(--color-primario) !important;
    color: var(--texto-primario) !important;
}
.registrar {
    background: transparent;
    color: var(--color-primario);
}
.registrar:hover {
    color: var(--hover-color-p);
}
.registrar:active {
    background: transparent !important;
    color: var(--color-primario) !important;
}
h1 {
    color: var(--color-primario);
    font-weight: bolder;
    text-align: right;
}
/* ------------- Login ------------- */

/* ------------- Recovery ------------- */
.bubble-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--fondo-recovery);
    background-size: cover;
    background-position: center;
}
.bubble {
    position: absolute;
    left: 0;
    bottom: -10rem;
    width: 10rem;
    height: 10rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: rise 7s infinite ease-in;
}
.bubble:nth-child(2) {
    left: calc(15% - 3rem);
    width: 6rem;
    height: 6rem;
    animation-duration: 6.2s;
    animation-delay: 1.5s;
}
.bubble:nth-child(3) {
    left: calc(25% - 2rem);
    width: 4rem;
    height: 4rem;
    animation-duration: 5.1s;
    animation-delay: 3.9s;
}
.bubble:nth-child(4) {
    left: calc(35% - 4rem);
    width: 8rem;
    height: 8rem;
    animation-duration: 4.7s;
    animation-delay: 2.4s;
}
.bubble:nth-child(5) {
    left: calc(45% - 5rem);
    width: 10rem;
    height: 10rem;
    animation-duration: 6.5s;
    animation-delay: 4.8s;
}
.bubble:nth-child(6) {
    left: calc(55% - 3.5rem);
    width: 7rem;
    height: 7rem;
    animation-duration: 5.3s;
    animation-delay: 1.7s;
}
.bubble:nth-child(7) {
    left: calc(65% - 2.5rem);
    width: 5rem;
    height: 5rem;
    animation-duration: 5.8s;
    animation-delay: 4.2s;
}
.bubble:nth-child(8) {
    left: calc(75% - 2rem);
    width: 4rem;
    height: 4rem;
    animation-duration: 4.9s;
    animation-delay: 2.9s;
}
.bubble:nth-child(9) {
    left: calc(85% - 3rem);
    width: 6rem;
    height: 6rem;
    animation-duration: 5.4s;
    animation-delay: 3.3s;
}
.bubble:nth-child(10) {
    left: calc(100% - 8rem);
    width: 8rem;
    height: 8rem;
    animation-duration: 5.7s;
    animation-delay: 1.2s;
}
@keyframes rise {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}
.fondo {
    text-align: center;
    width: 60%;
    background: var(--fondo);
    border: solid 1px var(--borde);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fondo input {
    background-color: transparent;
}
.fondo input:focus {
    background-color: transparent;
}
/* ------------- Recovery ------------- */

/* ------------- Para pantallas de 1366px ------------- */
@media screen and (max-width: 1366px) {
    .form {
        padding: 24px;
        height: 100%;
    }
    nav {
        margin-bottom: 44px;
    }
    .titulo-m {
        margin-bottom: 14px;
    }
    .subtitulo-m {
        margin-bottom: 20px;
    }
    .input {
        margin-bottom: 28px;
    }
    .input-r {
        margin-bottom: 18px;
    }
    .container {
        width: 95%;
        margin-bottom: 44px;
    }
    .img img {
        width: calc(100% - 48px);
    }
}
