@import url(variables.css);

.header {
    position: relative;
    margin-bottom: 16px;
}

.filtro {
    background: var(--fondo);
    color: var(--texto);
    font-size: 14px;
    position: absolute;
    top: -3%;
    right: 10%;
    padding: 10px 16px;
    border: 1px solid var(--borde);
    border-radius: 8px;
    cursor: pointer;
}

.ordenar {
    background: var(--fondo);
    color: var(--texto);
    font-size: 14px;
    position: absolute;
    top: -3%;
    right: 1%;
    padding: 10px 16px;
    border: 1px solid var(--borde);
    border-radius: 8px;
    cursor: pointer;
}

.opcion {
    background: none;
    color: var(--texto);
    padding: 1px 10px;
    border: none;
    cursor: pointer;
}

.table {
    width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
    border-collapse: separate; /* Cambia a 'separate' para permitir el espaciado entre celdas */
    border-spacing: 0 3px; /* Añade espacio entre las filas */
    margin: 20px 0; /* Añade un margen superior e inferior */
    font-size: 90%; /* Ajusta el tamaño de la fuente */
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--fondo-contenido); /* Cambia el color de fondo de la tabla */
}

.table th,
.table td {
    padding: 12px 15px; /* Añade relleno a las celdas */
    background-color: var(--fondo); /* Cambia el color de fondo de las celdas */
}

.table th {
    font-weight: bold; /* Hace el texto de los encabezados en negrita */
}

.table tr:nth-child(even) {
    background-color: var(--fondo); /* Cambia el color de fondo de las filas pares */
}

.delete-button {
    background: var(--fondo);
    color: var(--color-primario);
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid var(--borde);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 1s ease;
    position: absolute;
    top: -25%;
    left: 10%;
}

.delete-button:hover {
    background-color: #f00a0ae8;
    color: rgb(255, 255, 255);
}
