@import url(variables.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-size: 16px;
    font-weight: bold;
    color: var(--texto);
    margin: 0px;
}

.action {
    background: var(--fondo);
    color: var(--texto);
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid var(--borde);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.action:hover {
    background-color: var(--color-primario);
    color: var(--texto-primario);
}
.options {
    background: none;
    color: var(--texto);
    border: none;
    cursor: pointer;
}
.delete {
    color: var(--color-primario);
}

.btn-registrar-cliente {
    background: var(--fondo);
    color: var(--color-primario);
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid var(--borde);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.btn-registrar-cliente:hover {
    background-color: var(--color-primario);
    color: var(--texto-primario);
}

.table-container {
    background: var(--fondo);
    height: calc(100vh - 59px);
    margin-top: 16px;
    border-radius: 8px;
    overflow: auto;
    align-content: space-between;
}
.table-expand {
    overflow: auto;
    height: calc(100vh - 134px);
}

table {
    width: 100%;
    margin: 0 !important;
}
thead {
    box-shadow: 0 1px 1px var(--fondo-contenido);
    position: sticky;
    top: 0;
}
th,
td {
    background: var(--fondo) !important;
    color: var(--texto) !important;
    font-size: 15px;
    padding: 16px 24px !important;
    border-color: var(--fondo-contenido);
}
input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--color-primario);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: var(--fondo);
}
footer p {
    margin: 0;
    color: var(--placeholder);
}

.en-proceso {
    background: rgba(255, 225, 0, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.pagado {
    background: rgba(0, 255, 106, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.entregado {
    background: rgba(0, 149, 255, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
.cancelado {
    background: rgba(255, 25, 0, 0.3);
    padding: 4px 12px;
    border-radius: 16px;
}
