/* ------------- Variables ------------- */
:root {
    --color-primario: #dd5746;
    --color-secundario: #ffe1c0;
    --hover-color-p: #ff7a69;
    --hover-color-s: #ebcdac;
    --texto-primario: #ffffff;
    --texto-secundario: #dd5746;

    --fondo: #ffffff;
    --fondo-contenido: #f5f6f7;
    --borde: #e4e7ec;
    --hover-borde: #c2c7cc;
    --texto: #394a66;
    --placeholder: #747474;

    --fondo-recovery: url("../img/lavando.jpg");

    --fondo-oscuro: #2a2a2a;
    --fondo-contenido-oscuro: #242424;
    --fondo-contenido-claro: #f5f6f7;
    --borde-oscuro: #3b3b3b;
    --fondo-claro: #ffffff;
    --borde-claro: #e4e7ec;
    --hover-borde-oscuro: #4a4a4a;
    --hover-borde-claro: #c2c7cc;
    --texto-oscuro: #e0e0e0;
    --texto-claro: #394a66;
    --placeholder-oscuro: #8a8a8a;
    --placeholder-claro: #8a8a8a;

    --fondo-img: url("../img/lavando.jpg");
}
/* ------------- Variables ------------- */

/* ------------- Tipo de fuente ------------- */
* {
    font-family: "Inter", sans-serif;
    scrollbar-color: var(--color-primario) transparent;
    scroll-behavior: smooth;
}
/* ------------- Tipo de fuente ------------- */

/* ------------- Logo ------------- */
.svg-icon path {
    fill: var(--color-primario);
}
/* ------------- Logo ------------- */

/* ------------- Se mostrara hasta que termine de cargar los colores ------------- */
html {
    display: none;
}
/* ------------- Se mostrara hasta que termine de cargar los colores ------------- */

/* ------------- Generales ------------- */
html,
body {
    color: var(--texto);
    background: var(--fondo-contenido);
}

.dropdown-menu {
    background: var(--fondo) !important;
    border: 1px solid var(--borde) !important;
}
.dropdown-menu button {
    color: var(--texto) !important;
}
.dropdown-menu button:hover {
    background: var(--color-primario) !important;
    color: var(--texto-primario) !important;
}
.visible {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* ------------- Generales ------------- */

/* ------------- Alertas ------------- */
.swal2-popup {
    background: var(--fondo) !important;
    border: solid 1px var(--borde) !important;
    color: var(--texto) !important;
    border-radius: 10px !important;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5) !important;
}
.swal2-popup h2 {
    color: var(--color-primario) !important;
}
.swal2-confirm {
    background: var(--color-primario) !important;
    color: var(--texto-primario) !important;
    box-shadow: none !important;
    border-radius: 8px !important;
}
.swal2-confirm:hover {
    background: var(--hover-color-p) !important;
    color: var(--texto-primario) !important;
}
.swal2-cancel {
    background: var(--color-secundario) !important;
    color: var(--texto-secundario) !important;
    box-shadow: none !important;
    border-radius: 8px !important;
}
.swal2-cancel:hover {
    background: var(--hover-color-s) !important;
    color: var(--texto-secundario) !important;
}
/* ------------- Alertas ------------- */
