/* ------------- Variables ------------- */
:root {
    --color-primario: #dd5746;
    --color-secundario: #ffe1c0;
    --hover-color-p: #ff7a69;
    --hover-color-s: #ebcdac;
    --texto-primario: #ffffff;
    --texto-secundario: #dd5746;

    --fondo: #ffffff;
    --fondo-contenido: #f5f6f7;
    --borde: #e4e7ec;
    --hover-borde: #c2c7cc;
    --texto: #394a66;
    --placeholder: #747474;

    --fondo-recovery: url("../img/lavando.jpg");

    --fondo-oscuro: #2a2a2a;
    --fondo-contenido-oscuro: #242424;
    --fondo-contenido-claro: #f5f6f7;
    --borde-oscuro: #3b3b3b;
    --fondo-claro: #ffffff;
    --borde-claro: #e4e7ec;
    --hover-borde-oscuro: #4a4a4a;
    --hover-borde-claro: #c2c7cc;
    --texto-oscuro: #e0e0e0;
    --texto-claro: #394a66;
    --placeholder-oscuro: #8a8a8a;
    --placeholder-claro: #747474;

    --fondo-img: url("../img/lavando.jpg");
}
/* ------------- Variables ------------- */

/* ------------- Tipo de fuente ------------- */
* {
    font-family: "Inter", sans-serif;
    scrollbar-color: var(--color-primario) var(--fondo-contenido);
    scroll-behavior: smooth;
}
/* ------------- Tipo de fuente ------------- */

/* ------------- Logo ------------- */
.svg-icon path {
    fill: var(--color-primario);
}
/* ------------- Logo ------------- */

/* ------------- Se mostrara hasta que termine de cargar los colores ------------- */
html {
    display: none;
}
/* ------------- Se mostrara hasta que termine de cargar los colores ------------- */

/* ------------- Generales ------------- */
html,
body {
    color: var(--texto);
    background: var(--fondo-contenido);
    margin: 0;
    padding: 0;
}
/* ------------- Generales ------------- */
